.footer__column-link {
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    display: block;
    transition: opacity 0.3s;
  }

.footer__column-link:hover {
  opacity: .6;
}